# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Build directory
build/
build_backup/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.cmake
!CMakeLists.txt
!cmake/

# Generated PDFs
*.pdf

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#ignore all files in the bin directory
bin/

